
.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  
  .column {
    flex: 1; /* Each column takes up equal width */
    height: 100%; /* Full height of the container */
    /* margin-left: 20rem; */
    /* margin-right: 1rem; */
  }
  
  .column:first-child {
    background-color: #FFFFFF; /* Background color for the first column */
  }
  
  .column:last-child {
    background-color: #D7EEFF;; /* Background color for the second column */
  }
  
  .form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100% !important; /* Adjust the width as needed */
    margin: 0 auto;
    /* width: 4rem; */

  }

  .form-elem {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 50% !important;
  }

  #title-text {
    font-family: 'Jakart', Courier, monospace;
  }

  #username-text {
    font-family: 'Poppings';
  }

  #text-field {
    padding-left: auto;
  }

  button {
    /* border-radius: %; */
    width: 36%;
    background-color: #25E265;
  }

  img {
    width: 210px;
    height: 210px;
  }

  /* .column, .right {
    background-color: #D7EEFF;
  } */